<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                        <img alt="image" class="img-circle" src="/img/profile_small.jpg" />
                         </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Admin</strong>
                         </span></span> </a>
                   
                </div>
                <div class="logo-element">SH</div>
            </li>
            <li>
                <a href="/"><i class="fa fa-pie-chart"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li <% if (page === 'hotels') { %>class="active" <% } %> >
                <a href="/hotels"><i class="fa fa-hotel"></i> <span class="nav-label">Hotels</span></a>
            </li>
             <li <% if (page === 'rooms') { %>class="active" <% } %> >
                <a href="/rooms"><i class="fa fa-home"></i> <span class="nav-label">Rooms</span></a>
            </li>
            <li <% if (page === 'users') { %>class="active" <% } %> >
                <a href="/users"><i class="fa fa-user"></i> <span class="nav-label">Users</span></a>
            </li>
        </ul>
    </div>
</nav>